name: Publish Docker Image

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - '.Dockerfile'
      - '.github/workflows/publish-docker.yml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/kitechsoftware/gcr-rust:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
